/**
 * Filename: custom.css
 *
 * 1. Fonts
 * 2. Theme Color
 * 3. Browser Reset
 * 4. Utility Classes
 * 5. Theme Classes
 *
 */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/* Theme Color */
:root {
  --clr-accent: #eb1f28;
  --clr-blue: #223d78;
  --clr-gold: #f0be5e;
  --clr-white: #ffffff;
  --clr-white-600: #fcfcfc;
  --clr-black: #000000;

  --ff-primary: "Oswald", sans-serif;
  --ff-body: "Yantramanav", sans-serif;

  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 2px;
  --swiper-scrollbar-drag-bg-color: var(--clr-accent);
}

/* Browser Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
a:focus,
a:hover {
  outline: none;
}
a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
body {
  font-family: var(--ff-body);
  text-rendering: optimizeSpeed;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
}
p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgb(138, 138, 138);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Utility Classes */
.overlay::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.72);
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.45;
}
.dCup-bgImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -1;
}
section[class^="dCup-"] {
  position: relative;
  z-index: 3;
}

/* Theme Classes */
.bg-dark-gradient {
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 100%);
}
.bg-dark-gradient__bottom  {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 100%);
}
.bg-theme-gold {
  background: linear-gradient(to top left, #223d786b 0%, var(--clr-gold) 100%);
}
.bg-theme-blue {
  background: linear-gradient(to top left, rgb(148, 213, 247) 0%, #223d78 100%);
}
.dCup-texture__bg::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../images/texture_bg.png');
  top: 0;
  left: 0;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.3;
}

/* Custom Properties */
.dCup-py {
  padding: 100px 0;
}
.dCup-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-accent);
  color: #fff;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 14px;
  padding: 16px 32px;
  border-radius: 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.dCup-btn:not(.dCup-btn__link)::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background-color: var(--clr-blue);
  z-index: -1;
  transition: all 0.5s ease-in-out;
  left: 0;
  top: 0;
}
.dCup-btn__light:not(.dCup-btn__link)::before {
  background-color: var(--clr-accent);
}
.dCup-btn:not(.dCup-btn__link):hover::before {
  /* background-color: var(--clr-gold); */
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.dCup-btn__light {
  background-color: var(--clr-gold) !important;
  background-image: unset;
}
.dCup-btn__light:hover {
  background-color: #E9DBFD !important;
  background-image: unset;
}
.dCup-heading__white .dCup-heading__abs {
  color: #f7f7f726;
}
.dCup-heading__white h6 {
  color: #fff !important;
}
.dCup-heading:not(.text-center) .dCup-heading__abs {
  left: -10px;
  transform: translateY(-50%);
}
.dCup-btn__link {
  background: transparent !important;
  padding: 0 0 4px !important;
  font-size: 15px;
  color: #1e1e1e;
  font-weight: 600;
}

.dCup-btn__link::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 2px;
  background-color: var(--clr-blue);
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.dCup-btn__link:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.dCup-btn__wrap {
  margin-top: 24px;
}
.dCup-heading {
  position: relative;
  padding: 0;
  margin-bottom: 36px;
}
.dCup-heading__dots {
  padding: 25px 0 70px;
  margin-bottom: -20px;
}
/* .dCup-heading::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 91%;
  background-color: var(--clr-purple-400);
  left: 0;
  border-radius: 0;
  top: 50%;
  transform: translateY(-50%);
} */
.dCup-heading h3 {
  font-weight: 600;
  color: #1e1e1e;
  text-transform: uppercase;
  font-size: 54px;
  line-height: 1.3em;
  margin: 4px 0 0;
}
.dCup-heading h6 {
  color: #8c8c8c;
  font-size: 13px;
  line-height: 1.1em;
  font-weight: 400;
  letter-spacing: .35em;
  text-transform: uppercase;
  font-family: var(--ff-body);
}
.dCup-heading__abs {
  position: absolute;
  color: #f7f7f7;
  z-index: -1;
  font-weight: 700;
  text-transform: uppercase;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 16px;
  font-family: var(--ff-primary);
  font-size: 200px;
  letter-spacing: -.025em;
}
.dCup-heading__white h3 {
  color: var(--clr-white);
}
.dCup-heading__white::before {
  background-color: var(--clr-white);
}
.dCup-heading__dots::after {
  background-image: url('../images/dot.png');
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  content: '';
  z-index: -1;
}
.dCup-heading:has(h4) {
  padding: 0;
  margin-bottom: 0;
}
.dCup-heading:has(h4)::before {
  display: none;
}
.dCup-heading h4 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
.dCup-desc p {
  /* font-weight: 300;
  line-height: 26px; */
}
.dCup-desc > :not(:last-child) {
  margin-bottom: 16px;
}
[class^="swiper-button-"]::after {
  content: '';
  display: none;
}
.swiper-button-next, .swiper-button-prev {
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: var(--clr-purple);
  border-radius: 50%;
}
.swiper-wrapper {
  padding-bottom: 15px;
}
.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0px;
}
/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE START =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/** ----------------------------
*      Section: Header Start
**  --------------------------*/
.dCup-page__header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
}
.dCup-page__header.fixed__header {
  position: fixed;
  opacity: 1 !important;
  transition: all 0.5s ease-in-out;
  z-index: 99;
  top: 0;
  pointer-events: unset !important;
}
.dCup-page__header.fixed__header .dCup-page__header-wrap {
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.dCup-page__header.fixed__header .dCup-page__header-wrap::before {
  display: none;
}
.dCup-page__header.fixed__header .dCup-page__header-nav .navbar-nav .nav-item::before {
  display: none;
}
.dCup-page__header.fixed__header .dCup-page__header-nav .navbar-nav .nav-link {
  color: var(--clr-blue);
  line-height: 80px;
}
.dCup-page__header.fixed__header .dCup-page__header-nav .navbar-nav .nav-item.active::after, .dCup-page__header.fixed__header .dCup-page__header-nav .navbar-nav .nav-item:hover::after {
  background-color: var(--clr-accent);
}
.dCup-page__header.fixed__header .navbar-brand img {
  height: 70px;
}
.dCup-page__header.fixed__header .dCup-page__header-nav .navbar-nav .active .nav-link {
  color: var(--clr-accent);
}
.dCup-page__header-wrap::before {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -2;
  content: '';
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0% , rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
}
.dCup-page__header-nav {
  padding: 0;
}
.dCup-page__header-nav .navbar-brand {
  padding: 10px 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-white);
  border-radius: 0 0 50% 50%;
  height: 150px;
  width: 140px;
  display: inline-flex;
  justify-content: center;
}
.dCup-page__header-nav .navbar-brand img {
  height: 110px;
  width: 100%;
  object-fit: contain;
}
.dCup-page__header.fixed__header .navbar-brand {
  padding: 8px 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.dCup-page__header-nav .navbar-nav .nav-item {
  position: relative;
}
.dCup-page__header-nav .navbar-nav .nav-item::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 3px;
  background-color: var(--clr-gold);
  bottom: 0;
  z-index: -1;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}
.dCup-page__header-nav .navbar-nav .nav-item.active::before {
  opacity: 1;
}
.dCup-page__header-nav .navbar-nav .nav-item.active::before, .dCup-page__header-nav .navbar-nav .nav-item:hover::before {
  width: calc(100% - 30px);
  transition: all 0.3s ease-in-out;
}
/* .dCup-page__header-nav .navbar-nav .nav-item.active::after, .dCup-page__header-nav .navbar-nav .nav-item:hover::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 1px;
  bottom: 32%;
  left: 50%;
  background-color: var(--clr-white);
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out 0.3s;
} */
.dCup-page__header-nav .navbar-nav .nav-link {
  color: var(--clr-white);
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  font-family: var(--ff-body);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.navbar-toggler:focus {
  box-shadow: none;
  color: #000000;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 9999;
}
.navbar-toggler { 
  background-color: black;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
.dCup-page__header-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  margin-left: 50px;
  padding: 0 0 20px;
  margin-bottom: 20px;
}
.dCup-page__header-link a {
  color: var(--clr-white);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--ff-body);
}
.dCup-page__header-socials li a {
  color: var(--clr-white);
  font-size: 15px;
  padding: 0 12px;
}
/** ----------------------------
*      Section: Header End
**  --------------------------*/
/** ----------------------------
*      Section: Hero Start
**  --------------------------*/
/* .dCup-hero {
  overflow: hidden;
  height: 100vh;
} */
/* .dCup-hero__wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  transform: translateY(-50%);
} */
.dCup-hero__content {
  margin-top: 95px;
}
.dCup-hero__heading5 h5 {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}
.dCup-hero__heading h1, .dCup-hero__heading h2 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.dCup-hero__heading h1 .highlight, .dCup-hero__heading h2 .highlight {
  background-color: var(--clr-blue);
  font-weight: 300;
  font-style: italic;
  padding: 0 12px;
  display: inline-block;
}
.dCup-hero__desc p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 24px;
}
.dCup-hero__overlay-text h6 {
  font-family: "Inter Tight";
  height: auto;
  width: auto;
  color: rgba(255, 255, 255, 0.09);
  white-space: nowrap;
  text-align: left;
  line-height: 327px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 360px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: difference;
}
.dCup-hero__single-wrap {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.dCup-hero__swiper .swiper-pagination {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  padding: 0 50px 0 0px;
  width: fit-content;
  right: 0;
  left: unset;
}
.dCup-hero__swiper .swiper-pagination-bullet {
  display: inline-flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-accent);
  border-radius: 0;
  color: var(--clr-white);
  font-weight: 800;
  font-size: 16px;
}
.kenburns-left {
	-webkit-animation: kenburns-left 20s ease-out both;
	        animation: kenburns-left 20s ease-out both;
}
 @-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
            transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}
@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
            transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}
/** ----------------------------
*      Section: Hero End
**  --------------------------*/


/** ----------------------------
*      Section: News Start
**  --------------------------*/

.dCup-news__wrap {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px 0px;
}
.dCup-news__wrap > * {
  flex: 0 0 auto;
  width: 23.7%;
}
.dCup-news__single {
  position: relative;
  height: 505px;
  overflow: hidden;
}
.dCup-news__single.wide {
  width: 48.7%;
}
.dCup-news__single .date {
  color: #8c8c8c;
  font-size: 11px;
  line-height: 1.1em;
  font-weight: 500;
  letter-spacing: .3em;
  text-transform: uppercase;
  margin-top: 10px;
  display: inline-block;
}
.dCup-news__single a {
  display: inline-block;
}
.dCup-news__single .title {
  display: block;
}
.dCup-news__single .img-part {
  width: 100%;
}
.dCup-news__single .img-part img {
  height: 265px;
  width: 100%;
  object-fit: cover;
}
.dCup-news__single .content-part .title h4 {
  font-size: 25px;
  color: #1e1e1e;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.4;
  margin: 0px 0 12px;
}
.dCup-news__single .dCup-btn.dCup-btn__link {
  margin-top: 12px;
}
.dCup-news__single.wide .content-part {
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: 0;
  padding: 30px;
}

.dCup-news__single.wide .img-part {
  position: relative;
  z-index: 1;
  height: 100%;
}
.dCup-news__single.wide .img-part img {
  height: 100%;
}
.dCup-news__single.wide .img-part::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #223d78 0%, #223d7800 100%);
  z-index: 0;
  opacity: 0.5;
}

.dCup-news__single.wide .date {
  color: var(--clr-white);
}
.dCup-news__single.wide .content-part .title h4 {
  color: var(--clr-white);
}
.dCup-news__single.wide .content-part .desc {
  display: none;
}
.dCup-news__single.wide .content-part .dCup-btn__link {
  color: var(--clr-gold);
  margin: 0;
}
.dCup-news__single.wide .content-part .dCup-btn__link::before {background-color: var(--clr-gold);}
/** ----------------------------
*      Section: News End
**  --------------------------*/
/** ----------------------------
*      Section: About Start
**  --------------------------*/

.dCup-about__right {
  position: relative;
  z-index: 3;
  padding-left: 50px;
}
.dCup-about__img-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.dCup-about__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.dCup-about__img-1 {
  height: 240px;
  width: 43%;
}
.dCup-about__img-wrap > * {
  /*! flex: 1 1 auto; */
  /*! width: auto; */
}
.dCup-about__img.dCup-about__img-2 {
  height: 400px;
  width: 53%;
  margin-top: 50px;
}
.dCup-about__img.dCup-about__img-3 {
  position: absolute;
  width: 43%;
  height: 190px;
  bottom: 0;
  left: 0;
  /*! height: 100%; */
}

.dCup-about__img-wrap::before {
  position: absolute;
  content: '';
  width: 160px;
  height: 160px;
  background-color: var(--clr-gold);
  z-index: -1;
  top: 54%;
  transform: translateY(-50%);
  left: 210px;
}
.dCup-about__img-wrap::after {
  background-image: url('../images/dot.png');
  height: 100%;
  left: 0px;
  position: absolute;
  top: -20px;
  width: 160%;
  content: '';
  z-index: -2;
}

.dCup-about__counter {
  display: flex;
  justify-content: center;
}
.dCup-about__counter-single {
  display: flex;
  align-items: center;
  padding: 30px 50px;
}
.dCup-about__counter-num {
  font-size: 62px;
  font-family: var(--ff-primary);
  font-weight: 700;
  color: #1e1e1e;
  line-height: 80px;
  margin-left: 20px;
}
.dCup-about__counter-title h5 {
  font-size: 16px;
  font-family: var(--ff-body);
  text-transform: uppercase;
  font-weight: 600;
  color: #626262;
  letter-spacing: 0.6px;
}
.dCup-about__counter-single:not(:first-child) {
  border-left: 1px solid #0000000a;
}
.dCup-about__features {
  background-color: #f7f7f7;
  padding: 15px 35px;
  margin-top: 45px;
}
/** ----------------------------
*      Section: About End
**  --------------------------*/
/** ----------------------------
*      Section: Venue Start
**  --------------------------*/

.dCup-venues__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 0;
}
.dCup-venues__single {
  flex: 0 0 auto;
  width: 48%;
}
.dCup-venues__single .content-part {
  background-color: var(--clr-white);
  text-align: center;
  padding: 15px 15px;
  margin: 0 8px;
}
.dCup-venue__location h4 {
  font-size: 15px;
  margin-top: 6px;
  font-family: var(--ff-primary);
  color: var(--clr-blue);
  line-height: 22px;
}
.dCup-venue__location h6 {
  font-size: 12px;
  font-family: var(--ff-body);
  color: #515151;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
}
.dCup-venue__location h6 span {
  font-size: 12px;
  margin-right: 5px;
  color: var(--clr-accent);
}

.dCup-venues__single .img-part {
  height: 280px;
}
.dCup-venues__single .img-part img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.dCup-venue__left {
  position: sticky;
  top: 102px;
}
/** ----------------------------
*      Section: Venue End
**  --------------------------*/
/** ----------------------------
*      Section: Insta Start
**  --------------------------*/

.dCup-insta__single img {
  height: 345px;
  object-fit: cover;
  width: 100%;
  object-position: center;
}
.dCup-insta__wrap > * {
  flex: 0 0 auto;
  width: 20%;
}

.dCup-insta__single {
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.dCup-insta__single::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #eeb9543d;
  z-index: 0;
  right: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  top: 0;
}
.dCup-insta__single:hover::before {
  width: 0;
  transition: all 0.2s ease-in-out;
}
.dCup-insta .dCup-btn {
  position: absolute;
  z-index: 4;
  background-color: rgba(235, 31, 40, 0.37) !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px !important;
  gap: 10px;
}
/** ----------------------------
*      Section: Insta End
**  --------------------------*/

/* .dCup-clubs + * {
  padding-top: 150px;
}
.dCup-clubs {
  margin: 0px 15px -50px;
  z-index: 4 !important;
  border-radius: 10px !important;
  overflow: hidden;
} */

.dCup-clubs .dCup-bgImg {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.dCup-clubs__single {
  border: 1px solid #ffffff14;
  flex: 0 0 auto;
  width: 16%;
}
.dCup-clubs__wrap.d-flex {
  flex-wrap: wrap;
}
.dCup-clubs__single a {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 22px 12px;
  flex-direction: column;
}
.dCup-clubs__single a img {
  height: 50px;
  object-fit: contain;
}

.dCup-clubs__single a h5 {
  /*! display: block; */
  font-size: 14px;
  text-align: center;
  color: var(--clr-white);
  font-family: var(--ff-body);
  text-transform: capitalize;
  width: 75%;
  margin: 12px auto 0;
}




.dCup-matches {
  background-color: #f5f5f5;
}
.dCup-fixtures__match-single-wrap {
  background-color: #fff;
}
.dCup-fixtures__matches {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .dCup-fixtures__match-single-wrap {
  border: 1px solid #1A1A2F;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
} */
.dCup-fixtures__match-single-top {
  display: flex;
padding: 0px 25px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dCup-fixtures__match-single-box {
  display: flex;
  justify-content: space-between;
  padding: 60px 25px 20px;
  background-color: #FFF;
  align-items: center;
  align-items: center;
}
.dCup-fixtures__match-t1, .dCup-fixtures__match-t2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 45%;
}
.match__tName {
  flex: 0 0 auto;
  width: 85%;
  text-align: center;
display: flex;
  align-items: center;
  gap: 18px;
}
.match__tName h6 {
  font-size: 18px;
  font-weight: 600;
text-transform: uppercase;
}
.match__tScore h4 {
  font-size: 28px;
  font-weight: 800;
}
.match__tScore {
  width: 40px;
    text-align: center;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-gold);
  }
.match__tScore .match__overs {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #535353;
}
.dCup-fixtures__match-t2, .dCup-fixtures__match-t2 .match__tName {
  flex-direction: row-reverse;
}
.dCup-fixtures__match-divider h4 {
  font-size: 25px;
  font-weight: 800;
  color: var(--clr-purple-400);
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px 0;
}
.dCup-fixtures__match-divider {
  position: relative;
  z-index: 1;
  /* height: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .dCup-fixtures__match-divider::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  background-color: #1A1A2F29;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
} */
.dCup-fixtures__match-single-wrap.upcoming .match__tScore {
  display: none;
}
.dCup-fixtures__match-single-wrap.upcoming .match__tName {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.dCup-fixtures__match-single-wrap.upcoming .dCup-fixtures__match-t2 .match__tName {
  flex-direction: row-reverse;
}
.dCup-fixtures__match-single-wrap.upcoming .match__tName img {
  height: 90px;
}
.dCup-fixtures__match-single-wrap.upcoming .dCup-fixtures__match-divider {
  height: 90px;
}
.match__date h5, .match__location h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff-body);
  margin: 5px 0 0;
}
/* .match__date h5 span {
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  margin-right: 3px;
  letter-spacing: 0.6px;
} */
.match__num h5 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--ff-body);
  color: var(--clr-blue);
}
.match__status h5 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.dCup-fixtures__match-t2.loss .match__tScore {
  opacity: 0.3;
}

.match__status {
  position: absolute;
  top: 0;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  padding: 10px 45px;
  /*! font-size: 16px; */
  /*! text-transform: uppercase; */
}
.dCup-fixtures__match-single {
  position: relative;
}


.dCup-standings .dCup-bgImg {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.table-title {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 15px 25px;
  border-radius: 20px 20px 0 0;
}
.table-title h4 {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
thead tr th {
  background-color: #F5EDFD !important;
  font-size: 13px;
  font-family: var(--ff-body);
  text-align: center;
font-weight: 500;
}
tbody tr:nth-child(2n) td {
  background-color: #F5EDFD;
}
.table-team {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.table-team img {
  height: 35px;
  object-fit: contain;
}
tbody tr td {
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  min-width: 40px;
}

.form-listing {
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
}
.form-list__item {
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 9px;
}
.form-list__item.win {
  background-color: green;
}
.form-list__item.loss {
  background-color: red;
}
.form-list__item.draw {
  background-color: #8c8c8c;
}
.form-list__item p {
  font-size: 12px;
  color: var(--clr-white);
}
.dCup-standings.dCup-texture__bg::before {
  /* z-index: 1; */
  opacity: 0.5;
}
.dCup-standings .overlay::before {
  background: linear-gradient(to right bottom, #102657, #212860, #312967, #41296e, #522773, #692676, #7f2378, #941f77, #b12172, #ca296a, #df3960, #f04d54);
  opacity: 0.9;
}
/** ----------------------------
*      Section: Gallery Start
**  --------------------------*/
.dCup-videos.dCup-py {
  background-color: #f5f5f5;
}
.dCup-videos .dCup-heading__abs {
  color: var(--clr-white);
}
.mk2-gallery__tab-wrap li {
  display: inline-block;
  width: 100%;
}
.mk2-gallery__tab-wrap li:not(:first-child) {
  margin-bottom: 15px;
}
.mk2-gallery__tab-single.mk2-gallery__tab-image {
}
.mk2-gallery__tab-wrap li:first-child img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.mk2-gallery__tab-wrap {
  column-count: 3;
  gap: 20px;
}
.mk2-gallery__tab-wrap li img {
  height: 239px;
  width: 100%;
  object-fit: cover;
}

.mk2-gallery__tab-wrap li a {
  position: relative;
  display: block;
}
.play-icon {
  position: absolute;
  top: 16px;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
  border: 5px solid #fff;
  font-size: 12px;
  text-indent: 2px;
  left: 16px;
}
.mk2-gallery__tab-wrap li h5 {
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.mk2-gallery__tab-wrap li h5 {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background: linear-gradient(to top, #223d789e 0%, #223d7800 100%);
  width: 100%;
  padding: 60px 16px 20px;
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 16px;
}
/** ----------------------------
*      Section: Gallery End
**  --------------------------*/
/** ----------------------------
*      Section: Sponsors Start
**  --------------------------*/

.dCup-sponsors__single {
  display: flex;
  flex: 0 0 auto;
  /*! width: 25%; */
  position: relative;
  padding: 25px 30px 35px;
  border: 1px dashed var(--clr-gold);
}
.dCup-sponsors__wrap {
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
}
.dCup-sponsors__single:has(:nth-child(4)) {
  width: 50%;
}
.dCup-sponsors__single:has(:nth-child(2)) {
  /*! width: 33%; */
}
.dCup-sponsors__single img {
  height: 150px;
  object-fit: contain;
}
.dCup-sponsors__single h5 {
  position: absolute;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--clr-blue);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-white);
  padding: 0 12px;
  width: max-content;
}
/** ----------------------------
*      Section: Sponsors End
**  --------------------------*/
/** ----------------------------
*      Section: Tickets Start
**  --------------------------*/
.dCup-tickets-cta .dCup-bgImg {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
}
.dCup-tickets-cta .overlay::before {
  background: linear-gradient(to right bottom, #102657, #212860, #312967, #41296e, #522773, #692676, #7f2378, #941f77, #b12172, #ca296a, #df3960, #f04d54);
  opacity: 0.9;
}
.dCup-tickets-cta__main{
  position: relative;
  z-index: 3;
}
.dCup-tickets-cta.dCup-texture__bg::before {z-index: 1;opacity: 0.5;}

.dCup-tickets-cta__right img {
  height: 240px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
  width: 100%;
}
.dCup-tickets-cta__right {
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 10px;
}
/** ----------------------------
*      Section: Tickets End
**  --------------------------*/
/** ----------------------------
*      Section: Name Start
**  --------------------------*/
/** ----------------------------
*      Section: Name End
**  --------------------------*/
/** ----------------------------
*      Section: Footer Start
**  --------------------------*/
.dCup-page__footer {
  background-color: #091a3e;
  position: relative;
  padding-top: 70px;
  z-index: 3;
}
.dCup-page__footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  padding: 0px 0 50px;
}
.dCup-page__footer::before {
  position: absolute;
  content: '';
  width: 75%;
  height: 100%;
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  bottom: 0px;
  left: 0;
  z-index: -1;
  opacity: 1;
  right: 0;
  margin: 0 auto;
}
.dCup-page__footer-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dCup-page__footer-socials ul {
  display: flex;
  gap: 15px;
  align-items: center;
}
.dCup-page__footer-socials ul li a {
  font-size: 15px;
  width: 40px;
  height: 40px;
  display: block;
  background-color: var(--clr-white);
  color: var(--clr-black);
  line-height: 40px;
  text-align: center;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.dCup-page__footer-socials ul li a:hover {
  background-color: rgb(203, 153, 79);
  color: var(--clr-white);
  transition: all 0.5s ease-in-out;
}
.dCup-page__footer-contact p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  color: var(--clr-white);
}
.dCup-page__footer-contact ul {
  margin-bottom: 25px;
}
.dCup-page__footer-contact ul li a {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 16px;
}
.dCup-page__footer-contact ul li a .icon img {
  height: 36px;
  object-fit: contain;
  width: 100%;
}
.dCup-page__footer-contact ul li a h4 span {
  color: rgb(203, 153, 79);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 7px;
  font-family: var(--ff-primary);
}
.dCup-page__footer-contact ul li a h4 {
  font-size: 16px;
  font-family: var(--ff-body);
  font-weight: 400;
  color: #ccc;
}
.dCup-page__footer-contact ul li:not(:last-child) {
  margin-bottom: 20px;
}
.dCup-page__footer-nav {
  margin-top: 25px;
}
.dCup-page__footer-teams ul {
  column-count: 2;
}
.dCup-page__footer-nav ul .nav-item .nav-link {
  position: relative;
  transition: all 0.5s ease-in-out;
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #ccc;
  font-family: var(--ff-body);
}
.dCup-page__footer-nav ul .nav-item {
  padding-bottom: 10px;
}
.dCup-page__footer-nav ul .nav-item .nav-link:hover {
  color: var(--clr-accent);
  transition: all 0.5s ease-in-out;
}
.dCup-page__footer-nav ul .nav-item .nav-link::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--clr-purple-400);
  bottom: 0;
  left: unset;
  right: 0;
  transition: all 0.5s ease-in-out;
}
.dCup-page__footer-nav ul .nav-item .nav-link:hover::before {
  width: 100%;
  left: 0;
  right: unset;
  transition: all 0.5s ease-in-out;
}
.dCup-page__footer-nav ul .nav-item .nav-link::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--clr-accent);
  bottom: 0;
  left: unset;
  right: 0;
  transition: all 0.5s ease-in-out 0.5s;
}
.dCup-page__footer-nav ul .nav-item .nav-link:hover::after {
  width: 100%;
  left: 0;
  right: unset;
  transition: all 0.5s ease-in-out 0.5s;
}
.dCup-page__footer-copyright {
  background-color: #0213377a;
  padding: 9px 0;
  text-align: center;
}
.dCup-page__footer-copy p {
  font-size: 14px;
  color: #b0b0b0;
  letter-spacing: 0.3px;
}


.dCup-page__footer__title h3 {
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.footer-team__link {
  position: relative;
  padding-left: 33px;
  display: inline-block;
  font-size: 16px;
  color: #ccc;
  font-family: var(--ff-body);
}
.footer-team__link .team-logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer-team__link .team-logo img {
  height: 25px;
  object-fit: contain;
}
.footer-team__item {
  line-height: 30px;
  padding-bottom: 10px;
}
.dCup-page__footer-logo img {
  height: 100px;
  object-fit: contain;
}
/** ----------------------------
*      Section: Footer End
**  --------------------------*/
/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */